.tables {
  max-width: 100%;
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tables__buttons {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tables__data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.table__row {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__row:nth-child(2n) {
  background-color: #f2f2f2;
}

.tables__button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ececec;
  border: none;

  cursor: pointer;
}

.tables__button span {
  margin-right: 10px;
}

.arrow {
  width: 15px;
}